.footer {
	background: #0F54B9;
	padding: 30px 0 20px 0;
}

.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__logo {
	@media (max-width:$md3+px) {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
}

.footer__menu {
	padding: 0 20px;

	@media (max-width:$md3+px) {
		display: none;
	}
}

.footer__menu ul {
	display: flex;
	align-items: center;
}

.footer__link {
	color: $whiteColor;
}

.footer__menu ul>li {
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__phone {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 22px;
	color: $whiteColor;

	@media (max-width:$md2+px) {
		display: none;
	}
}

.footer__btn {
	@media (max-width:$md1+px) {
		display: none;
	}
}

.footer__nav-link {
	@media (min-width: 2px) {
		display: none;
	}

	@media (max-width:$md3+px) {
		display: inline-flex;
		margin: auto;
	}
}

.footer__social {
	text-align: center;

	& a {
		font-size: 18px;
		color: #fff;
	}

	@media (max-width:$md3+px) {
		margin-right: 20px;
	}
}

.footer-social__list {
	@include adaptiv-value("margin-right", 20, 8, 1);
}

.social-phone {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 22px;
	color: $whiteColor;
}

//========================================================================================================================================================

.footer__copyrait {
	margin-top: 20px;
	color: $whiteColor;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	flex-wrap: wrap;

	& span {
		flex: 0 0 auto;

		@media (max-width:$md3+px) {
			margin: auto;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	& a {
		color: $whiteColor;

	}
}

//========================================================================================================================================================
.callback-bt {
	background: #43d854;
	border: 2px solid #43d854;
	border-radius: 50%;
	box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
	cursor: pointer;
	height: 48px;
	text-align: center;
	width: 48px;
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 999;
	transition: .3s;
	-webkit-animation: hoverWave linear 1s infinite;
	animation: hoverWave linear 1s infinite;
}

.callback-bt:hover i {
	color: #43d854;
	z-index: 9999;
}

.callback-bt:hover {
	z-index: 1;
	background: #fff;
	color: transparent;
	transition: .3s;
	z-index: 9999;
}

.callback-bt i {
	color: #fff;
	font-size: 22px;
	transition: .3s;
	line-height: 48px;
	transition: .5s ease-in-out;
}

.callback-bt i {
	animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
	-webkit-animation: 1200ms ease 0s normal none 1 running shake;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
	}

	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
	}

	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
	}

	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
	}
}

@keyframes hoverWave {
	0% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
	}

	40% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
	}

	80% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
	}

	100% {
		box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
	}
}

/* animations icon */

@keyframes shake {
	0% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}

	10% {
		transform: rotateZ(-30deg);
		-ms-transform: rotateZ(-30deg);
		-webkit-transform: rotateZ(-30deg);
	}

	20% {
		transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		-webkit-transform: rotateZ(15deg);
	}

	30% {
		transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		-webkit-transform: rotateZ(-10deg);
	}

	40% {
		transform: rotateZ(7.5deg);
		-ms-transform: rotateZ(7.5deg);
		-webkit-transform: rotateZ(7.5deg);
	}

	50% {
		transform: rotateZ(-6deg);
		-ms-transform: rotateZ(-6deg);
		-webkit-transform: rotateZ(-6deg);
	}

	60% {
		transform: rotateZ(5deg);
		-ms-transform: rotateZ(5deg);
		-webkit-transform: rotateZ(5deg);
	}

	70% {
		transform: rotateZ(-4.28571deg);
		-ms-transform: rotateZ(-4.28571deg);
		-webkit-transform: rotateZ(-4.28571deg);
	}

	80% {
		transform: rotateZ(3.75deg);
		-ms-transform: rotateZ(3.75deg);
		-webkit-transform: rotateZ(3.75deg);
	}

	90% {
		transform: rotateZ(-3.33333deg);
		-ms-transform: rotateZ(-3.33333deg);
		-webkit-transform: rotateZ(-3.33333deg);
	}

	100% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
}

@-webkit-keyframes shake {
	0% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}

	10% {
		transform: rotateZ(-30deg);
		-ms-transform: rotateZ(-30deg);
		-webkit-transform: rotateZ(-30deg);
	}

	20% {
		transform: rotateZ(15deg);
		-ms-transform: rotateZ(15deg);
		-webkit-transform: rotateZ(15deg);
	}

	30% {
		transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		-webkit-transform: rotateZ(-10deg);
	}

	40% {
		transform: rotateZ(7.5deg);
		-ms-transform: rotateZ(7.5deg);
		-webkit-transform: rotateZ(7.5deg);
	}

	50% {
		transform: rotateZ(-6deg);
		-ms-transform: rotateZ(-6deg);
		-webkit-transform: rotateZ(-6deg);
	}

	60% {
		transform: rotateZ(5deg);
		-ms-transform: rotateZ(5deg);
		-webkit-transform: rotateZ(5deg);
	}

	70% {
		transform: rotateZ(-4.28571deg);
		-ms-transform: rotateZ(-4.28571deg);
		-webkit-transform: rotateZ(-4.28571deg);
	}

	80% {
		transform: rotateZ(3.75deg);
		-ms-transform: rotateZ(3.75deg);
		-webkit-transform: rotateZ(3.75deg);
	}

	90% {
		transform: rotateZ(-3.33333deg);
		-ms-transform: rotateZ(-3.33333deg);
		-webkit-transform: rotateZ(-3.33333deg);
	}

	100% {
		transform: rotateZ(0deg);
		-ms-transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
}

/* конец кнопки звонка */