.footer {
	background: #0F54B9;
	padding: 30px 0 20px 0;
}

.footer__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer__logo {
	@media (max-width:$md3+px) {
		flex: 1 1 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
}

.footer__menu {
	padding: 0 20px;

	@media (max-width:$md3+px) {
		display: none;
	}
}

.footer__menu ul {
	display: flex;
	align-items: center;
}

.footer__link {
	color: $whiteColor;
}

.footer__menu ul>li {
	margin-right: 25px;

	&:last-child {
		margin-right: 0;
	}
}

.footer__phone {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 22px;
	color: $whiteColor;

	@media (max-width:$md2+px) {
		display: none;
	}
}

.footer__btn {
	@media (max-width:$md1+px) {
		display: none;
	}
}

.footer__nav-link {
	@media (min-width: 2px) {
		display: none;
	}

	@media (max-width:$md3+px) {
		display: inline-flex;
		margin: auto;
	}
}

.footer__social {
	text-align: center;

	& a {
		font-size: 18px;
		color: #fff;
	}

	@media (max-width:$md3+px) {
		margin-right: 20px;
	}
}

.footer-social__list {
	@include adaptiv-value("margin-right", 20, 8, 1);
}

.social-phone {
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 22px;
	color: $whiteColor;
}

//========================================================================================================================================================

.footer__copyrait {
	margin-top: 20px;
	color: $whiteColor;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: 400;
	flex-wrap: wrap;

	& span {
		flex: 0 0 auto;

		@media (max-width:$md3+px) {
			margin: auto;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	& a {
		color: $whiteColor;

	}
}