//<FORM ()>====================================================================================================
.form {
	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {
		margin-top: 35px;
	}

	&__error {
		margin-top: 8px;
		font-weight: 400;
		font-size: 14px;
		color: red;
	}
}

//</FORM>====================================================================================================

//<BUTTONS (a.btn+tab)>====================================================================================================
.button {
	display: inline-flex;
	padding: 15px 33px;
	min-height: 45px;
	text-align: center;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	box-shadow: 0px 4px 7px rgba(43, 57, 130, 0.15);
	transition: all 0.3s ease 0s;


	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 7px 10px rgba(43, 57, 130, 0.15);
		}
	}
}

.btn-blue {
	background: $blueColor;
	color: $whiteColor;
	transition: all 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			background: $blueHoverColor;
		}
	}
}

.phone__border {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	background: $blueColor;
	padding: 10px;
	min-height: 60px;
	color: $whiteColor;
	border-radius: 10px;
	margin-bottom: 20px;
	padding-left: 25px;

	&::after {
		content: '';
		position: absolute;
		outline: 1px dashed rgba(255, 255, 255, 0.8);
		outline-offset: -5px;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 15px;
		height: 100%;
	}

	&::before {
		content: '';
		position: absolute;
		background: url(../img/icons/icon-telephone.svg) no-repeat;
		top: 16px;
		left: 30px;
		width: 100%;
		height: 100%;
	}
}

@media (min-width:$md2+px) {

	.header__bnt-social,
	.phone__border {
		display: none;
	}
}

.header__bnt-social {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	background: $blueHoverColor;
	border: 1px solid $blueColor;
	padding: 10px;
	min-height: 60px;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	margin-right: 15px;

	&:last-child {
		margin-right: 0;
	}

	& span {
		margin-top: 5px;
		font-size: 12px;
		font-weight: 500;
		color: #fff;
	}

	&::after {
		content: '';
		position: absolute;
		outline: 1px dashed #fff;
		outline-offset: -4px;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 8px;
		height: 100%;
	}
}


.btn-white {
	background: $whiteColor;
	color: $blackColor;
	transition: all 0.3s ease 0s;


	@media (any-hover: hover) {
		&:hover {
			background: #ececec;
		}
	}
}

.btn-social {
	box-shadow: 0px 4px 15px rgba(43, 57, 130, 0.25);
	border-radius: 30px;
	color: $whiteColor;
	min-height: 40px;
	padding: 12px 40px;
	transition: all 0.3s ease 0s;


	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0px 4px 15px rgba(43, 57, 130, 0.55);
		}
	}

	&_whatsapp {
		background: #43D854;
	}

	&_telegram {
		background: #0088CC;
	}

	&_instagram {
		background: linear-gradient(90deg, #405DE6 1.79%, #833AB4 100%);
	}

	& a {
		font-weight: 600;
		font-size: 16px;
		color: $whiteColor;
	}
}

._blick {
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		display: block;
		width: 20px;
		height: 200px;
		margin-left: 50px;
		background: #fff;
		background: linear-gradient(to bottom,
				rgba(255, 255, 255, 0.5) 0%,
				rgba(255, 255, 255, 1) 50%,
				rgba(255, 255, 255, 0.5) 100%);
		left: -40px;
		top: -100px;
		z-index: 1;
		transform: rotate(45deg);
		position: absolute;
		animation: movingFlare 3s ease-in-out 0.05s infinite;
	}

	@keyframes movingFlare {
		0% {
			left: -30px;
			margin-left: 0px;
		}

		30% {
			left: 110%;
			margin-left: 80px;
		}

		100% {
			left: 110%;
			margin-left: 80px;
		}
	}
}

//</BUTTONS>====================================================================================================


//<INPUT (inp+tab)>====================================================================================================
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:focus {
		outline: none;
	}
}

.input {
	// border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 17px 20px;
	background: #ECF4FF;
	border-radius: 5px;
	// margin: 10px 0 35px 0;
	min-height: 50px;

	&._focus {}

	&._error {}

}

textarea.input {
	resize: none;
	padding: 0px 0px;
}

//</INPUT>====================================================================================================

//<CHECK (chk+tab)>====================================================================================================
.checkbox {
	position: relative;

	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;

		&:checked+.checkbox__label::after {
			transform: scale(1);
		}
	}

	&__label {
		margin-top: 26px;
		font-size: 13px;
		line-height: 140%;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		color: $grayColor;
		position: relative;
		cursor: pointer;
		width: 100%;
	}

	&__label::before {
		content: '';
		align-self: flex-start;
		flex: 0 0 24px;
		height: 24px;
		margin-right: 10px;
		border-radius: 4px;
		border: 2px solid $blueColor;
	}

	&__label::after {
		transition: all 0.5s ease 0s;
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		top: 0px;
		left: 0px;
		background: url(../img/icons/check.svg) center center no-repeat;
		background-color: $blueColor;
		border-radius: 4px;
		border: 2px solid $blueColor;


		transform: scale(0);
	}

	// .checkbox__text
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		color: #ffffff;
		letter-spacing: -0.3px;
		line-height: calc(20 / 16);
		cursor: pointer;

		&:before {
			content: "";
			align-self: flex-start;
			margin: 0px 14px 0px 0px;
			flex: 0 0 20px;
			left: 0;
			top: 0;
			width: 20px;
			height: 18px;
			background: #fff;
			border: 1px solid #a7a9ac;
		}
	}

	a {
		color: $lilacColor;
		text-decoration: underline;

		@media (min-width: 992px) {
			&:hover {
				text-decoration: none;
			}
		}
	}

	&._error {
		.checkbox__text {
			&:before {
				border: 1px solid #ee1212;
			}
		}
	}
}