@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot?xug25p');
	src: url('../fonts/icons.eot?xug25p#iefix') format('embedded-opentype'),
		url('../fonts/icons.ttf?xug25p') format('truetype'),
		url('../fonts/icons.woff?xug25p') format('woff'),
		url('../fonts/icons.svg?xug25p#icons') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_icon-"]::before,
[class*=" _icon-"]::before {
	font-family: 'icons' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
	content: "\e900";
}

._icon-line:before {
	content: "\e904";
}

._icon-check:before {
	content: "\e907";
}

._icon-email:before {
	content: "\e901";
}

._icon-facebook:before {
	content: "\e902";
}

._icon-instagram:before {
	content: "\e903";
}

._icon-telegram:before {
	content: "\e905";
}

._icon-telephone:before {
	content: "\e906";
}

._icon-whatsapp:before {
	content: "\e908";
}