//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;

	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}

	&.show {
		visibility: visible;
		overflow: auto;

		&::before {
			opacity: 1;
		}

		.popup__body {
			transform: scale(1);
		}
	}

	&._active {
		overflow: auto;
		visibility: visible;

		&::before {
			opacity: 1;
		}

		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}

	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .popup__body
	&__body {
		position: relative;
		border-radius: 30px;
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background: $whiteColor;
		padding: 50px;
		width: 100%;
		max-width: 800px;

		@media (max-width:$md4+px) {
			padding: 40px 20px 40px 20px;
		}
	}

	// .popup__close
	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 0px;
		right: 0px;
		cursor: pointer;
		z-index: 30;
		color: $lilacColor;
		margin: 25px;

		&:hover {
			color: $blueColor;
		}

		// background: url("../img/icons/close.svg") 0 0 no-repeat;
	}

	&__title {
		font-weight: 600;
		font-size: 28px;
		line-height: 34px;
		text-align: center;

		& span {
			color: $lilacColor;
		}
	}
}

.popup_circle-top {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
}

.popup_circle-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
}

.form__label {
	display: block;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	margin: 35px 0 10px 0;
}

.popup__send-text {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	margin: 30px 0;

	&-link {
		font-weight: 600;
		font-size: 30px;
		text-align: center;
		display: block;
		color: $blackColor;
		font-family: "Montserrat";
		transition: all 0.3s ease 0s;

		&:hover {
			color: $blueColor;
		}
	}
}

.popup_social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	z-index: 5;
	position: relative;
}

.btn-social {
	margin: 10px;
}

//====================================================================================================
//====================================================================================================