@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Raleway:wght@400;500;600;800&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontFamily: "Raleway";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$blackColor: #000;
$whiteColor: #fff;
$blueColor: #3B6AAE;
$blueHoverColor: #25579F;
$lilacColor: #7F91BE;
$grayColor: #333333;
$whitegrayColor: #F2F2F2;
$yellowColor: #FBE191;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $blackColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

.page__main {
	background: linear-gradient(247.74deg, rgba(235, 236, 239, 0.2436) 0.48%, rgba(235, 236, 239, 0) 100%);
}


// main ===================================================================================================================================

.main__container {
	padding-top: 120px;

	@media (max-width:$md3+px) {
		padding-top: 90px;
	}
}

.title-header {
	font-weight: bold;
	@include adaptiv-value("font-size", 60, 24, 1);
	@include adaptiv-value("line-height", 70, 26, 1);
	text-align: center;
	@include adaptiv-value("margin-bottom", 120, 50, 1);

	& span {
		color: #7F91BE;
	}
}

.main__body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.main__item {
	display: flex;
	flex: 0 1 40%;
	flex-direction: column;

	@media (max-width:$md2+px) {
		flex: 1 1 100%;
	}
}

.main__item-list {
	display: flex;
	align-items: center;
	// margin: 0px 0px 53px 0px;
	@include adaptiv-value("margin-bottom", 53, 40, 1);
}

.main__item-bg {
	position: relative;
	background: linear-gradient(78.38deg, #7F91BE 0%, rgba(201, 208, 225, 0.87) 54.73%, #0F54B9 101.03%, #7F91BE 101.04%);
	border-radius: 10px;
	flex: 0 0 160px;
	height: 92px;
	margin: 0px 20px 0px 0px;

	@media (max-width:$md3+px) {
		flex: 0 0 90px;
	}
}

.main__item-list-1 {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -27px;
		bottom: 0px;
		left: 0;
		background: url(../img/main/icon-1.png) no-repeat;
		width: 250px;
		height: 150px;
		z-index: 2;

		@media (max-width:$md3+px) {
			width: 90px;
			height: 120px;
		}

	}
}

.main__item-list-2 {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -27px;
		bottom: 0px;
		left: 10px;
		background: url(../img/main/icon-2.png) no-repeat;
		width: 100%;
		z-index: 2;

		@media (max-width:$md3+px) {
			width: 100px;
			left: -15px;
		}
	}
}

.main__item-list-3 {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		bottom: 0px;
		left: 20px;
		background: url(../img/main/icon-3.png) no-repeat;
		width: 100%;
		z-index: 2;

		@media (max-width:$md3+px) {
			width: 100px;
			left: -13px;
		}
	}
}


.main__item-text {
	font-weight: normal;
	@include adaptiv-value("font-size", 18, 15, 1);
	line-height: 130%;
	color: $lilacColor;

	& strong {
		color: #000;
	}
}

.main__image {
	flex: 0 0 60%;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;

	@media (max-width:$md2+px) {
		flex: 1 1 100%;
	}

	&::before {
		content: '';
		position: absolute;
		left: 30px;
		top: 0;
		background: linear-gradient(274.54deg, rgba(127, 145, 190, 0.22) 3.85%, rgba(127, 145, 190, 0.15) 49.5%, rgba(127, 145, 190, 0.15) 94.21%);
		box-shadow: inset 0px 5px 7px rgba(127, 145, 190, 0.3);
		transform: rotate(90deg);
		border-radius: 50%;
		width: 200px;
		height: 200px;
		animation: pulse 2s infinite;

		@media (max-width:$md4+px) {
			width: 120px;
			height: 120px;
			left: 0;
		}
	}

	&::after {
		content: '';
		position: absolute;
		right: 0;
		top: 220px;
		background: linear-gradient(274.54deg, rgba(127, 145, 190, 0.22) 3.85%, rgba(127, 145, 190, 0.15) 49.5%, rgba(127, 145, 190, 0.15) 94.21%);
		box-shadow: inset 0px 5px 7px rgba(127, 145, 190, 0.3);
		transform: rotate(90deg);
		border-radius: 50%;
		width: 247px;
		height: 247px;
		animation: pulse 2s infinite;

		@media (max-width:$md4+px) {
			width: 90px;
			height: 90px;
			top: 150px;
		}
	}
}

.main__image-bg {
	width: 100%;
	z-index: 2;

	@media (max-width:$md2+px) {
		flex: 1 1 100%;
		display: block;
		text-align: center;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	@media (max-width:$md4+px) {
		width: 100%;
	}
}

.main__row {
	display: flex;
	justify-content: center;
	position: relative;

	&::after {
		content: '';
		position: absolute;
		top: 20%;
		right: 20px;
		border-radius: 50%;
		background: linear-gradient(240.31deg, #CDCDCD -24.65%, #FFFFFF 88.61%);
		box-shadow: inset 0px 0px 7px rgba(127, 145, 190, 0.3);
		transform: rotate(90deg);
		width: 126px;
		height: 126px;

		@media (max-width:$md2+px) {
			width: 80px;
			height: 80px;
			top: 50%;
		}

		@media (max-width:$md4+px) {
			right: 30px;
			top: 157px;
		}
	}
}

.main__row-body {
	display: block;
	margin: 0 auto;
	text-align: center;
	background: #F2F2F2;
	border-radius: 5px;
	margin: 40px 0px 70px 0px;
	@include adaptiv-value("padding-top", 35, 23, 1);
	@include adaptiv-value("padding-bottom", 0, 0, 1);
	@include adaptiv-value("padding-right", 120, 43, 1);
	@include adaptiv-value("padding-left", 120, 43, 1);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: -20px;
		left: -20px;
		border-radius: 50%;
		background: linear-gradient(240.31deg, #CDCDCD -24.65%, #FFFFFF 88.61%);
		box-shadow: inset 0px 0px 7px rgba(127, 145, 190, 0.3);
		transform: rotate(90deg);
		width: 42px;
		height: 42px;
		animation: pulse 2s infinite;
	}
}

.main__row-title {
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	margin: 0px 0px 15px 0px;

	& span {
		color: $lilacColor;
	}
}

.main__row-subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: #3F3F3F;
	margin: 0px 0px 20px 0px;
}

.main__row-button {
	margin: 0px 0px -25px 0px;
	z-index: 2;
	position: relative;
}

//<page__desing>====================================================================================================
.page__desing {
	position: relative;
	margin-top: 50px;
	background: $yellowColor;

	// @include adaptiv-value("padding-top", 76, 25, 1);
	@media (max-width:$md3+px) {
		padding-bottom: 50px;
	}
}

.desing__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: -63px;
		left: 0;
		background: linear-gradient(240.31deg, #CDCDCD -24.65%, #FFFFFF 88.61%);
		box-shadow: inset 0px 0px 7px rgba(127, 145, 190, 0.3);
		transform: rotate(90deg);
		width: 126px;
		height: 126px;
		border-radius: 50%;
		z-index: 2;
		animation: pulse 2s infinite;

		@media (max-width:$md2+px) {
			width: 100px;
			height: 100px;
			bottom: -50px;
		}

		@media (max-width:$md3+px) {
			width: 76px;
			height: 76px;
			bottom: -85px;
		}
	}
}

.desing__block {
	flex: 0 0 40%;
	align-items: center;
	padding: 40px 0;

	@media (max-width:$md3+px) {
		flex: 1 1 100%;
	}
}

.title-desing,
.desing__text {
	color: $blackColor;
}

.desing__text {
	@include adaptiv-value("margin-bottom", 22, 0, 1);
}

.desing__image {
	margin-top: -60px;
	margin-bottom: -110px;
	z-index: 2;

	@media (max-width:$md3+px) {
		display: block;
		margin: auto;
	}

	& img {
		@media (max-width:$md2+px) {
			width: 400px;
			margin-top: -150px;
		}

		@media (max-width:$md3+px) {
			width: 320px;
			margin: 0;
		}
	}
}





//<page__content>====================================================================================================

.page__content {
	padding: 60px 0 0 0;
	background: linear-gradient(265.83deg, #0F54B9 0%, #99B9E7 100%);
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: -25%;
		right: 10%;
		background: url(../img/content-bg-right.png) no-repeat;
		width: 364px;
		height: 411px;
		z-index: 2;

		@media (max-width: 1619px) {
			display: none;
		}
	}
}

.content__content {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.content__image {
	flex: 0 0 40%;

	@media (max-width:$md3+px) {
		order: 2;
	}
}

.content-bg {
	@media (max-width:$md2+px) {
		width: 362px;
	}

	@media (max-width:$md3+px) {}
}

.title-content,
.content__text {
	color: $whiteColor;
}

.content__block {
	max-width: 380px;

	@media (max-width:$md3+px) {
		flex: 1 1 100%;
	}
}

.content__text p {
	margin-bottom: 20px;
}

//<page__work>====================================================================================================
.page__work {
	@include adaptiv-value("padding-top", 105, 25, 1);
	@include adaptiv-value("padding-bottom", 74, 64, 1);
}

.work__content {
	font-family: Raleway;
}

.title-work {
	font-weight: 600;
	@include adaptiv-value("font-size", 30, 24, 1);
	font-size: 30px;
	text-align: center;
	@include adaptiv-value("margin-bottom", 20, 8, 1);
}

.sub__title-work {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	margin: 0 auto;
	max-width: 512px;
	@include adaptiv-value("margin-bottom", 46, 35, 1);

}

.work__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work-slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	min-width: 0;

}

.swiper-slide {
	background: #F2F2F2;
	border-radius: 10px;
	padding: 5px 20px;
}

.slider__slide-item {}

.item__slide {
	display: flex;
	align-items: center;
}

.item__slide-content {
	flex: 0 0 60%;
	margin-right: 10px;
}

.item__slide-title {
	font-weight: 600;
	font-size: 18px;
	margin: 0px 0px 12px 0px;
}

.item__slide-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
}

.item__slide-photo-1 {
	flex: 0 0 40%;
	transform: translate(-23px, 0px);
}

.item__slide-photo-2 {
	transform: translate(-20px, 0px);
}

.item__slide-photo-3 {
	transform: translate(-35px, 0px);
}

// сдайд

.swiper-wrapper {
	margin: 0px 0px 20px 0px;
}

.work-pagination {
	position: relative;
}

.work-swiper-button-next,
.work-swiper-button-prev,
.swiper-pagination {
	@media (min-width: 991px) {
		display: none;
	}
}

.work-pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work-swiper-button-next {
	transform: rotate(180deg);
}

.work-swiper-button-next,
.work-swiper-button-prev {
	cursor: pointer;
	z-index: 999;
}

.swiper-pagination {
	margin: 20px 0px 0px 0px;
}

.swiper-pagination-current {
	font-family: 'Montserrat';
	font-size: 22px;
	color: #0F54B9;
}

.swiper-pagination-total {
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	color: #0A0A0A;
}

.swiper-pagination {
	bottom: 0;
}