@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&family=Raleway:wght@400;500;600;800&display=swap');
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontFamily: "Raleway";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$blackColor: #000;
$whiteColor: #fff;
$blueColor: #3B6AAE;
$blueHoverColor: #25579F;
$lilacColor: #7F91BE;
$grayColor: #333333;
$whitegrayColor: #F2F2F2;
$yellowColor: #FBE191;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $blackColor;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
// @import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================