//<ОСНОВНОЙ БЛОК>====================================================================================================
.title {}

.title-section {
	font-weight: 600;
	@include adaptiv-value("font-size", 30, 24, 1);
	line-height: 35px;
	margin-bottom: 20px;
}

.section-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}

.rub:after {
	content: "₽";
}

//====================================================================================================
%noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;

	li {
		position: relative;
		padding: 0px 0px 0px 45px;

		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}

//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}

.trow {
	display: table-row;
}

.cell {
	display: table-cell;

	&.full {
		width: 100%;
	}
}

//====================================================================================================
._ibg {
	position: relative;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	._ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	._ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
%graystyle {
	transition: all 0.3s ease 0s;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}


//====================================================================================================
._swiper {
	overflow: hidden;

	//.swiper-wrapper
	.swiper-wrapper {
		width: 100%;
		height: 100%;
		box-sizing: content-box;
		display: flex;
		position: relative;
	}

	&.swiper-container-vertical {
		.swiper-wrapper {
			flex-direction: column;
		}
	}

	&.swiper-container-autoheight {
		.swiper-wrapper {
			align-items: flex-start;
		}
	}
}

.swiper-container-initialized {
	.swiper-slide {
		flex-shrink: 0;
		// transition-property: transform;
	}
}

.swiper-container-android {

	.swiper-slide,
	.swiper-wrapper {
		transform: translate3d(0px, 0, 0);
	}
}

.swiper-button-lock {
	display: none !important;
}

//========================================================================================================================================================
._custom-scroll {
	position: fixed;
	right: 0;
	top: 0;
	width: 3px;
	height: 100%;
	z-index: 1000;

	//background-color: rgba(0, 0, 0, 0.1);
	&__line {
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 3px 0 0 3px;
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
	}
}

//</ГОТОВЫЕ КЛАССЫ>====================================================================================================